*{
  box-sizing: border-box;
  padding: 0  ;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
.formNavbar{
  width: 100vw;
  height: 60px;
  background-color: #66FF99;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.formNavbar button{
width: 200px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 40px;
background-color: #66FF99;
color: rgb(255, 255, 255);
font-size: 1.5rem;
border: none;
font-weight: bolder;
transition: 0.4s;
cursor: pointer;
}
.formNavbar button:hover{
  box-shadow: -2px -22px 84px -5px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -22px 84px -5px rgba(0,0,0,1);
  -moz-box-shadow: -2px -22px 84px -5px rgba(0,0,0,1);
}
.signUpForm{
  width: 400px;
  height: 500px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 30px auto;
  background-color: #52CC7A;
  color: whitesmoke;
}
.signUpForm div{  
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bolder;
  color: whitesmoke;
}
.signUpForm div input{
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 40px;
  outline: none;
border: none;
transition: 0.4s;
cursor: pointer;
}
.signUpForm div input:focus{
  width: 250px;
}
.signUpForm button{
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 40px;
  outline: none;
border: none;
transition: 0.2s;
cursor: pointer;
background-color: #52CC7A;
color: whitesmoke;
font-size: 1.5rem;
font-weight: bolder;
}
.signUpForm button:hover{
  box-shadow: -7px 1px 56px -5px rgba(0,0,0,1);
  -webkit-box-shadow: -7px 1px 56px -5px rgba(0,0,0,1);
  -moz-box-shadow: -7px 1px 56px -5px rgba(0,0,0,1);
}
.errorText{
  color: red;
}